@font-face {
  font-family: poppins;
  src: url(./assets/fonts/Poppins/Poppins-Black.ttf) format(truetype);
  font-weight: bold;
}

* {
  font-family: poppins;
}

.nav-item {
  margin-left: 30px;
  margin-right: 30px;
  font-family: poppins;
  font-size: 22px;
  font-style: bold;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  color: #827a7a;
}

.nav-item:focus {
  background: -webkit-linear-gradient(#6720c2, #1e004400);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  cursor: pointer;
}

.btn {
  background-color: #6720c2;
  border-radius: 25px;
  color: white;
}
