@font-face {
  font-family: poppins;
  src: url(./assets/fonts/Poppins/Poppins-Bold.ttf) format(truetype);
}

@font-face {
  font-family: vazirmatn;
  src: url(./assets/fonts/vazirmatn/Vazirmatn-RD-Black.ttf) format(truetype);
}

.nav-item {
  margin-left: 30px;
  margin-right: 30px;
  font-family: poppins;
  font-size: 15px;
  font-style: bold;
  font-weight: 200;
  line-height: 150%;
  letter-spacing: 0%;
  color: #827a7a;
}

.nav-item:hover {
  background: -webkit-linear-gradient(#6720c2, #1e004400);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  cursor: pointer;
}

.btn {
  background-color: #6720c2;
  border-radius: 25px;
  color: white;
  border: none;
}

.btn:hover {
  background-color: #390979;
  cursor: pointer;
}

h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-family: vazirmatn;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  color: #000000;
}

p {
  font-family: Poppins;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.btn2 {
  background-color: #6720c2;
  border-radius: 25px;
  color: white;
  border: none;
  padding: 10px 20px;
  font-family: poppins;
  font-size: 15px;
  font-weight: bold;
}

.btn2:hover {
  background-color: #390979;
  cursor: pointer;
}

.btn3 {
  background-color: #6720c2;
  border-radius: 25px;
  color: white;
  border: none;
  padding: 10px 20px;
  font-family: poppins;
  font-size: 15px;
  font-weight: bold;
}

.btn3:hover {
  background-color: #390979;
  cursor: pointer;
}

.button-section {
  margin-top: 30px;
  text-align: center;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.img-thumbnail {
  border: none;
}

.logo {
  margin-top: 50px;
}

h3 {
  font-family: vazirmatn;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  color: #06052e;
}

.card-body {
  width: auto;
  height: 250px;
}

.card > img {
  width: 73px;
  height: 73px;
}

h5 {
  text-align: left;
}

.card-text {
  text-align: left;
}

.card {
  border-radius: 30px;
}

.card-body > a > button {
  text-align: center;
  border-radius: 30px;
  margin-top: 20px;
  width: auto;
  height: auto;
}

h4 {
  font-family: Vazirmatn;
  margin-top: 60px;
  font-weight: 700;
  font-style: Bold;
  font-size: 60px;
  line-height: 125%;
  letter-spacing: 0%;
}

.btn4 {
  background-color: #6720c2;
  border-radius: 25px;
  color: white;
  border: none;
  margin-top: 30px;
  padding: 10px 20px;
  font-family: poppins;
  font-size: 15px;
  font-weight: bold;
}

.js-swipper-slider {
  background-color: #181b3e;
  width: 100%;
}

.js-swipper-slider h4 {
  color: aliceblue;
}
